/* ###### 6.2 Footer  ###### */

.main-footer {
  margin-block-start: auto;
}

@media (min-width: 992px) {
  .main-footer {
    display: block;
  }

  .sticky {
    width: 100%;
  }
}

.main-footer {
  .container {
    font-size: 14px;
    padding: 38px 20px 0;
    align-items: center;
    justify-content: space-between;
    color: #{$gray-600};
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }

  .container-fluid {
    font-size: 14px;
    padding: 38px 20px 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
  }
}

@media (min-width: 992px) {
  .main-footer .container {
    padding: 10px 0 0;
  }
}

@media (max-width: 480px) {
  .main-footer .container-fluid {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

@media (max-width: 380px) {
  .main-footer .container-fluid {
    font-size: 12px;
  }
}