.sidebar{
  position: fixed;
  display: block;
  inset-block-start: 0px;
  width: 320px;
  inset-block-end: 0;
  z-index: 9999;
  height: 100%;
  box-shadow: 0px 18px 36px 10px rgba(154, 154, 204, .1);
  border-inline-start:1px solid #{$border};
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  content: "";
  background: $main-gradient-bg;

  .tab-menu-heading {
    position: fixed;
    inset-block-start: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background: #{$black-03};
  }

  > .tabs-style2{
    margin-block-start: 67px;

   >.panel-head > .nav-tabs{
      padding: 15px !important;
      justify-content: center;
      border-block-end: 1px solid #{$border};

      >.nav-item{
        flex: 1;

        >.nav-link{
          padding: 8px;
          display: flex;
          align-items: center;

          >.right-menu__icon{
            margin-inline-end: 2px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }

   >.panel-body{
      padding: 0px;
      border: none;
    }
  }

  .list-group{
    .list-group-item{
      border: none;
      
      + .list-group-item{
        margin-block-start: 5px;
      }
    }
  }
}
