/* ###### 7.5 Invoice  ###### */
.table-invoice {

  th:not(:last-child), td:not(:last-child){
    border-inline-end: 1px solid #{$border};
  }

  tbody > tr > {
    th:first-child, td:first-child {
      color: #{$gray-900};
      font-weight: 500;
    }

    th:first-child .invoice-notes p, td:first-child .invoice-notes p {
      font-size: 13px;
      font-weight: 400;
      color: #{$default-color} ;
    }
  }
}

.invoice-highlight{
  overflow: hidden;
  border-radius: 4px;
  background: #{$primary};
  color: #{$fixed-black} ;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    background: url(../../assets/img/svgs/inv_bg-1.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.145;
  }
}
